:root {
  --primary: #43a047;
  --link-color: var(--primary);
  --link-hover-color: var(--primary);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--primary);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.dark {
  --primary: #8BC34A;
  --link-color: var(--primary);
  --link-hover-color: var(--primary);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--primary);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --signature: var(--primary);
}

#menu svg {
    width: 24px;
    height: auto;
    position: relative;
    top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}