:root {
  --primary: #43a047;
  --link-color: var(--primary);
  --link-hover-color: var(--primary);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--primary);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.dark {
  --primary: #8BC34A;
  --link-color: var(--primary);
  --link-hover-color: var(--primary);
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--primary);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --signature: var(--primary);
}

#menu svg {
    width: 24px;
    height: auto;
    position: relative;
    top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

.series-list {
    color: var(--secondary);
    margin-bottom: 32px;
    border: 1px solid var(--border);
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: 16px;
}

.notice{
    --root-color:#444;
    --root-background:#eff;
    --title-color:#fff;
    --title-background:#7bd;
    --warning-title:#c33;
    --warning-content:#fee;
    --info-title:#fb7;
    --info-content:#fec;
    --note-title:#6be;
    --note-content:#e7f2fa;
    --tip-title:#5a5;
    --tip-content:#efe
}
body.dark .notice{
    --root-color:#ddd;
    --root-background:#eff;
    --title-color:#fff;
    --title-background:#7bd;
    --warning-title:#800;
    --warning-content:#400;
    --info-title:#a50;
    --info-content:#420;
    --note-title:#069;
    --note-content:#023;
    --tip-title:#363;
    --tip-content:#121
}
.notice{
    padding:18px;
    line-height:24px;
    margin-bottom:24px;
    border-radius:4px;
    color:var(--root-color);
    background:var(--root-background)
}
.notice p:last-child{
    margin-bottom:0
}
.notice-title{
    margin:-18px -18px 12px;
    padding:4px 18px;
    border-radius:4px 4px 0 0;
    font-weight:700;
    color:var(--title-color);
    background:var(--title-background)
}
.notice.warning .notice-title{
    background:var(--warning-title)
}
.notice.warning{
    background:var(--warning-content)
}
.notice.info .notice-title{
    background:var(--info-title)
}
.notice.info{
    background:var(--info-content)
}
.notice.note .notice-title{
    background:var(--note-title)
}
.notice.note{
    background:var(--note-content)
}
.notice.tip .notice-title{
    background:var(--tip-title)
}
.notice.tip{
    background:var(--tip-content)
}
.notice.series .notice-title{
    background:var(--tip-title)
}
.notice.series {
    background:var(--tip-content)
}
.icon-notice{
    display:inline-flex;
    align-self:center;
    margin-right:8px
}

.notice-title a, .notice-title a:hover{
    text-decoration:none;
    box-shadow:none;
    height: 80em;
}

.icon-notice img,.icon-notice svg{
    height:1em;
    width:1em;
    fill:#fff;
}
.icon-notice img,.icon-notice.baseline svg{
    top:.125em;
    position:relative;
    fill:#fff;
}
